html
{
	height: 100%;
	  background: url(concert.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.controlBar
{
	margin-left: auto;
	width: 20%
	margin-right: auto;
}


.title
{
	font-family: 'Oswald', sans-serif;
	color: white;
	text-align: center;
	font-size: 72px;
	margin: 0 auto;
	background:rgba(0,0,0,0.70);
	letter-spacing: 22px;
}

#num
{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 7px;
	color: black;
	background-color: rgba(255,255,255,.5);
	border: 2px solid black;
}

.songInfo
{
	text-align: center;
}


h2
{
	font-family: 'Oswald', sans-serif;
	color: black;
	text-align: center;
	font-weight: 100;
	font-size: 35px;	
	letter-spacing: 7px;

}




.whichSong
{
	list-style: none;
	font-family: 'Helvetica', serif;
	width: 30%;
	margin: 0 auto;
	color: white;
	font-weight: 100;
	background:rgba(0,0,0,0.55);
	padding: 20px;
	border: 1px solid white;
}

.songTable
{
	color: white;
	width: 100%;
	display: inline-block;
}
.marj
{
	width: 100%;
	display: inline-block;
}

.songList
{
	list-style: none;
	font-family: 'Helvetica', serif;
	width: 30%;
	margin: 0 auto;
	color: white;
	font-weight: 100;
	background:rgba(0,0,0,0.55);
	padding: 20px;

}

.songList li
{
	padding: 5px;
	text-align: center;
	font-size: 1em;
	height: 1.5em;
	border-bottom: 1px solid white;
}

.nowPlaying
{
	display: none;
	font-family: 'Arvo', serif;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}



.play
{
	margin: 0 auto;
	float: left;
	margin-left: 37%;
	height: 128px;
	width: 128px;
	background-image:url('playwhite.png');
}

.play:hover
{
	background-image:url('playblack.png');

}

.next
{
	height: 128px;
	width: 128px;
	margin: 0 auto;
	float: left;
	margin-left: 5%; 
	background-color: white;

	background-image:url('next.png');
}

.next:hover
{
	background-color: red;
	background-image:url('next.png');
}

.pause
{
	margin: 0 auto;
	float: left;
	margin-left: 37%;
	height: 128px;
	width: 128px;
	background-image:url('pause.png');
}

.pause:hover
{
	background-image:url('pausewhite.png');
}