html
{
	height: 100%;
	 /* background: url(speakers.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;*/
}

.controlBar
{
	margin-left: auto;
	width: 20%
	margin-right: auto;
}


.title
{
	font-family: 'Oswald', sans-serif;
	color: black;
	text-align: center;
	font-size: 72px;
	margin: 0 auto;
	background:rgba(0,0,0,0.55);
	letter-spacing: 22px;
}

#num
{
	/*font-family: 'Oswald', sans-serif;*/
	letter-spacing: 7px;
	color: black;
	background-color: rgba(255,255,255,.5);
	border: 2px solid black;
}

.songInfo
{
	margin-top: 10%;
	text-align: center;

}

h2
{
	font-family: 'Arvo', serif;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 35px;	
	letter-spacing: 7px;

}




.whichSong
{
	font-family: 'Arvo', serif;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	background:rgba(0,0,0,0.55);
	display: inline-block;
	border: 2px solid black;


}

.nowPlaying
{
	display: none;
	font-family: 'Arvo', serif;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}



.play
{
	margin: 0 auto;
	float: left;
	margin-left: 37%;
	height: 128px;
	width: 128px;
	background-image:url('play.png');
}

.play:hover
{
	background-image:url('playblack.png');

}

.next
{
	height: 128px;
	width: 128px;
	margin: 0 auto;
	float: left;
	margin-left: 5%; 
	background-image:url('next.png');
}

.next:hover
{
	background-color: red;
	background-image:url('next.png');
}

.pause
{
	margin: 0 auto;
	height: 128px;
	width: 128px;
	background-image:url('pause.png');
}

.pause:hover
{
	background-image:url('pauseblack.png');
}